/**
 * Copied from https://utol.ecc.u-tokyo.ac.jp/course/css/tasklist.css
 */

/* ==========================================================================
   TaskList
   ========================================================================== */
.nosubmission-popup-title-txt {
	font-size: 146.5%;
	font-weight: bold;
	margin: 25px 5px;
}

@media ( max-width : 480px) {
	.nosubmission-popup-title-txt {
		font-size: 120%;
	}
}

.nosubmission-popup-contents-txt {
	font-size: 140%;
	margin: 30px;
}

@media ( max-width : 480px) {
	.nosubmission-popup-contents-txt {
		font-size: 100%;
	}
}

.tasklist-search-area {
	margin: 30px;
}

.tasklist-course{
	width:20%;
	padding-left: 30px;
}

@media (max-width: 480px) {
	.tasklist-course{
		width:100%;
		border-bottom: 2.5px solid #DDD;
		padding: 5px 0px 5px 10px;
	}
}

.tasklist-selectbox{
	background-color: #DDD;
	float: left;
}

.tasklist-checkbox{
	clear:both;
}

.tasklist-contents{
	width:20%;
}

@media (max-width: 480px) {
	.tasklist-contents{
		width:100%;
		border-bottom: 2.5px solid #DDD;
		padding: 5px 0px 5px 10px;
	}
}

.tasklist-title{
	width:25%;
}

@media (max-width: 480px) {
	.tasklist-title{
		width:100%;
		border-bottom: 2.5px solid #DDD;
		padding: 5px 0px 5px 10px;
	}
}

.tasklist-deadline{
	width:20%;
}

@media (max-width: 480px) {
	.tasklist-deadline{
		width:100%;
		border-bottom: 2.5px solid #DDD;
		padding: 5px 0px 5px 10px;
	}
}

.tasklist-status{
	width:15%;
}

@media (max-width: 480px) {
	.tasklist-status{
		width:100%;
		border-bottom: 2.5px solid #DDD;
		padding: 5px 0px 5px 10px;
	}
}

.tasklist-mobile-deadline {
	display:none;
}

@media (max-width: 480px) {
	.tasklist-mobile-deadline{
		width:20%;
		display:inline;
	}
}

.tasklist-mobile-width-deadline{
	width:100%;
}

@media (max-width: 480px) {
	.tasklist-mobile-width-deadline{
		width:80%;
	}
}

@media ( max-width : 480px) {
	#hiddenTitle {
		display: none;
	}
}

.online-display-hide {
	display:none;
}

@media ( max-width : 480px) {
	.online-display-hide {
		display:flex;
	}
}

@media ( max-width : 480px) {
	.online-mobile-hide {
		display:none;
	}
}

.tasklist-ex-deadline{
	width:15%;
}

@media (max-width: 480px) {
	.tasklist-ex-deadline{
		display:none;
	}
}

.tasklist-mobile-ex-deadline {
	display:none;
}

@media (max-width: 480px) {
	.tasklist-mobile-ex-deadline{
		width:20%;
		float: left;
		display:block;
	}
}

.tasklist-mobile-width-ex-deadline{
	width:100%;
}

@media (max-width: 480px) {
	.tasklist-mobile-width-ex-deadline{
		width:80%;
	}
}

.noSubmissionData.caution-link-txt{
	color: red;
    text-decoration: underline;
    cursor: pointer;
    font-weight: unset;
}

.noSubmissionData.noSubmission-link-txt{
	color: black;
    text-decoration: underline;
    cursor: pointer;
    font-weight: unset;
}
